<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="header-container">
            <a href="index"><img src="https://i.postimg.cc/cH9nFfM7/combo.png" alt="Rapid Rescuers Logo" class="logo"></a>
            <nav>
                <ul class="nav-links">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="contact" class="active">Contact Us</a></li>
                    <li><a href="services">Services</a></li>
                </ul>
            </nav>            
        </div>
    </header>

 
    <main>
        <div class="hero" style="background-image: url('https://i.postimg.cc/85Mhz7hL/sparksfly.jpg');">
            <div class="content">
                <h2 style="color: #ff9000;">About Rapid Rescuers</h2>
                <div class="Application">
                    <p font-size: 100px>
                        Welcome to Rapid Rescuers, where duty meets
                        dedication. Our mission is to protect and serve our
                        community through swift and efficient fire rescue
                        operations. Since our inception, we've been committed
                        to ensuring the safety and well-being of the residents
                        of Emergency City and beyond.
                    </p>
                </div>
                <h2 style="color: #ff9000;">Our Mission</h2>
                    <p>
                        We respond to emergencies with unmatched speed
                        and expertise, aiming to save lives and minimize
                        damage.
                    </p>
                <h2 style="color: #ff9000;">Our Team</h2>
                    <p>
                        Composed of highly trained professionals, our team is
                        passionate about rescue work and equipped with
                        state-of-the-art technology. Learn more about our
                        passionate rescuers in the Team section.
                    </p>
                    <h2 style="color: #ff9000;">Training & Equipment</h2>
                <div class="Application">
                    <p>
                        We invest in state-of-the-art equipment and continuous
                        training to stay ahead of the curve. Our rescuers are
                        equipped with the latest technology and tools,
                        enabling them to perform their duties effectively and
                        safely.
                    </p>
                </div>
                <h2 style="color: #ff9000;">Community Involvement</h2>
                    <p>
                        We participate in local events, provide educational
                        programs on fire safety, and offer support during non-
                        emergency situations. Our goal is to foster a culture of
                        safety and preparedness.
                    </p>
                <h2 style="color: #ff9000;">Contact Us</h2>
                    <p>
                        For more information or to get involved, visit our
                        website or reach out to us at:
                        <br>
                        <br>- Email: rapidrescuers@gmail.com
                        <br>- Phone: +639000000000
                        <br>- Address: 123 Roxas Ave. Davao City, Davao del Sur
                    </p>
            </div>
            <div class="photo-container">
                <div class="photo">
                    <img src="https://i.imghippo.com/files/FZLQ6053xiM.jpg" alt="PH">
                </div>
                <div class="photo">
                    <img src="https://i.imghippo.com/files/FIIn6048cM.jpeg" alt="PH">
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="footer-container">
            <p class="contact"><b>Contact Us: rapidrescuers@gmail.com | Phone: +639000000000</b></p>
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank"><img src="https://i.postimg.cc/7Z8n9Bcw/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="https://i.postimg.cc/SsvWMVC0/instagram.png" alt="Instagram"></a>
                <a href="https://www.x.com" target="_blank"><img src="https://i.postimg.cc/W1vfzbsG/x.png" alt="X"></a>
            </div>
        </div>
    </footer>
</body>
</html>